html{
    height: 100%;
    background-image:url(bg.jpg);
    background-size:200%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    font-size: 2rem;
}

.heading{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.heading h1 {
    margin: 0;
}

.start {
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    height: 7rem;
    width: 7rem;
    background-color:palegreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: width 0.2s;
}

.circle:hover {
    width: 8rem;
    height: 8rem;
}

.icon {
    height: 4rem;
    margin-left: 1rem;
}


.settings {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.limit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limit p {
    margin-top: 0;
}

#slider{
    -webkit-appearance: none;
    appearance: none;
    background-color: #1f1f1f;
    accent-color: palegreen;
    height: 1rem;
    width: 12rem;
    outline: 0;
}

#slider::-webkit-slider-thumb{
  appearance: none;
  background-color: palegreen;
  border: 2px solid black;
  border-radius: 0rem;
  margin-top: -6px;
  height: 1.5rem;
  width: 0.5rem;
  cursor:pointer;
}

select {
    font-size: 2rem;
    min-width: 12em;
    height: 3rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor:pointer;
    border: 0 black;
    border-radius: 2px;
    padding: 0.2rem;
    background-color: palegreen;
    box-shadow: 7px 5px black;
    transition: height 0.2s;
}

select:hover {
    height: 4rem;
}

select:focus {
    outline: 0;
}

option {
    background-color: palegreen;
}

option:disabled {
    background-color: #999;
    color: white;
}

.warning {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.warning-content {
    background-color: rgb(252, 251, 152);
    color: black;
    padding: 2rem;
    border: 3px dashed black;
    z-index: 1;
}